.aside-inner {
  padding: 0 1.5em;
  @include bp(md) {
    padding: 2.5em 1.5em;
  }
  @include bp(lg) {
    padding: 2.5em 5em 5em;
  }
}

.aside-grid {
  display: none;
  @include bp(md) {
    display: block;
  }
  @include bp(xl) {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
}

.aside-item1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.aside-item2 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.aside-item3 {
  grid-column: 1 / 2;
  grid-row: 2 / 6;
}

.aside-item4 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.aside-item5 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}

.aside-item6 {
  grid-column: 1 / 3;
  grid-row: 6 / 7;
}

.aside-item7 {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

.aside-title-sp {
  max-width: 250px;
  margin: 0 auto 2em;
  @include bp(xl) {
    display: none;
  }
}

.aside-title-pc {
  display: none;
  @include bp(xl) {
    display: block;
    max-width: 700px;
    margin: 0 auto 2em;
  }
}

.aside-item-illust1 {
  max-width: 250px;
  margin: 2em auto;
}

.aside-item-illust2 {
  max-width: 450px;
  margin: 2em auto;
}
