.header {
  position: absolute;
  z-index: z(header);
  background-color: #fff;
  padding: .5em 1em;
  @include bp(md) {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $color-alpha-black;
    color: #fff;
  }
  .banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    @include bp(md) {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  .logo {
    width: 60%;
    @include bp(md) {
      display: none;
    }
  }
  .title-outer {
    order: 1;
    @include bp(md) {
      order: -1;
    }
  }
  .title {
    font-size: $font-size-lg;
    margin: 0;
  }
  .datetime {
    font-size: $font-size-sm;
    display: none;
    @include bp(md) {
      display: block;
    }
  }
  .sub-outer {
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }
  .sub-button {
    font-size: $font-size-sm;
    cursor: pointer;
    @include bp(md) {
      background-color: #fff;
      color: $color-base;
      border-radius: 3em;
      text-align: center;
      padding: .3em 1em;
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }
  .github-link {
    display: none;
    @include bp(md) {
      display: block;
      margin-left: 1em;
    }
  }
  .qrcode {
    display: none;
  }
}

.header-input-outer {
  padding: 0 1em;
}

.header-label {
  margin: .5em 1em .5em 0;
}

.header-input {
  margin-right: .3em;
}
