@use "mixin";
@use "variables";

.header {
  position: absolute;
  z-index: z(header);
  background-color: #fff;
  padding: 0 1em;
  @include mixin.bp(md) {
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: variables.$color-alpha-black;
    color: #fff;
  }
  .to-top {
    display: none;
    @include mixin.bp(md) {
      display: block;
      flex: 0 0 3em;
      padding: 0;
      a {
        color: #fff;
        display: block;
        line-height: 1.1;
      }
    }
  }
  .banner {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 1em 0;
    @include mixin.bp(md) {
      padding: 0.5em 0 0.5em 0.5em;
      flex-wrap: nowrap;
      justify-content: space-between;
      border-left: 1px solid variables.$color-light-gray;
    }
  }
  .logo {
    width: 60%;
    margin-bottom: .5em;
    @include mixin.bp(md) {
      display: none;
    }
  }
  .title-outer {
    order: 1;
    @include mixin.bp(md) {
      order: -1;
    }
  }
  .title {
    font-size: variables.$font-size-base;
    line-height: 1.1;
    font-weight: normal;
    margin: 0;
    @include mixin.bp(md) {
      font-size: variables.$font-size-xl;
    }
  }
  .datetime {
    font-size: variables.$font-size-sm;
    line-height: 1.1;
    display: none;
    @include mixin.bp(md) {
      display: block;
      padding-top: .5em;
    }
  }
  .github-link {
    display: none;
    @include mixin.bp(md) {
      display: block;
    }
  }
  .qrcode {
    display: none;
  }
}
