.header {
  .qrcode {
    display: none;
  }
  .banner {
    display: flex;
    flex-direction: column;
    @include bp(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }
  }
  .logo {
    width: 13em;
    @include bp(sm) {
      flex: 0 0 25%;
    }
  }
  .title {
    font-size: $font-size-lg;
    @include bp(sm) {
      flex: 0 0 75%;
    }
  }
}

.header-label {
  margin: .5em 1em .5em 0;
}

.header-input {
  margin-right: .3em;
}

.header-datetime {
  font-size: $font-size-sm;
  text-align: right;
}
