.index-title {
  max-width: 500px;
  margin: 0 auto;
}

.index-main {
  min-height: 70vh;
  padding: 2em 0;
}

.index-list {
  padding: 0;
}

.index-item {
  padding: .8em;
  background-color: rgba(0,0,0,.2);
  border-radius: 15px;
  a {
    color: $color-base;
    text-decoration: none;
  }
}

.index-item-inner {
  height: 90%;
}

.index-link-inner {
  display: grid;
  grid-template-rows: max-content;
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 3px 3px 10px #868686;
  img {
    border-radius: 10px 10px 0 0;
  }
}

.index-item-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em;
}

.index-arrow-icon {
  font-size: 2em;
  padding-left: .5em;
}

.index-item-sns {
  display: flex;
  padding: .5em 0;
  > div {
    margin-right: .5em;
  }
}

.index-footer {
  display: flex;
  justify-content: center;
  > div {
    margin: 0 .5em;
  }
}
