.legend {
  position: absolute;
  right: -215px;
  bottom: 0;
  z-index: z(legend);
  width: 250px;
  transition: right .5s;
  &.open {
    right: 0;
  }
}

.legend-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 0;
}

.legend-item {
  margin-right: .5em;
}

.legend-mark {
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px $color-gray;
  i {
    font-size: 1.25em;
    color: #fff;
  }
}
