.list-outer {
  padding: 0 1em;
  overflow: auto;
  max-height: 0;
  transition: max-height .5s;
  &.open {
    max-height: 40vh;
    padding-bottom: 2em;
  }
  @include bp(md) {
    padding: 0;
    overflow: visible;
    max-height: none;
    &.open {
      max-height: none;
      padding-bottom: 0;
    }
  }
}

.list-section {
  display: none;
  &.show {
    display: block;
  }
}

.list-title {
  display: flex;
  align-items: center;
  font-size: $font-size-base;
  color: #fff;
  padding: .3em 1em;
  margin-bottom: 0;
  border-radius: 5px;
}

.list-title-mark {
  padding-right: .5em;
}

.list-items {
  padding: 0;
  li {
    display: flex;
    font-size: $font-size-sm;
    margin: .3em 0;
  }
}

.item-number {
  flex: 0 0 3em;
  padding: .3em 0;
  text-align: center;
  border-right: 1px solid $color-gray;
  @include bp(xs) {
    padding: 0;
  }
}

.item-name {
  padding: .3em .5em;
  @include bp(xs) {
    padding: 0 .5em;
  }
}
