.list-title {
  display: flex;
  align-items: center;
  font-size: $font-size-base;
  padding: .3em .5em;
  margin-bottom: 0;
  background-color: $color-light-gray;
}

.list-title-mark {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  border-radius: 50%;
  margin-right: .5em;
  i {
    color: #fff;
    &::before {
      font-size: 80%;
    }
  }
}

.list-items {
  padding: 0;
  li {
    display: flex;
    font-size: $font-size-sm;
    margin: .3em 0;
  }
}

.item-number {
  flex: 0 0 3em;
  padding: .3em 0;
  text-align: center;
  border-right: 1px solid $color-gray;
  @include bp(xs) {
    padding: 0;
  }
}

.item-name {
  padding: .3em .5em;
  @include bp(xs) {
    padding: 0 .5em;
  }
}
