.navigation {
  @include bp(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: .5em;
  }
}

.navigation-area {
  padding: .5em;
  @include bp(md) {
    min-width: 0;
  }
}

.navigation-legend {
  order: 1;
  @include bp(md) {
    order: -1;
    flex: 0 0 65%;
    border-right: 1px solid $color-gray;
    padding-right: .5em;
    margin-right: .5em;
  }
}
