@page {
  size: A4;
  margin: 10mm 5mm;
}

@media print {
  :root {
    background-color: #fff;
    font-size: $font-size-sm;
  }
  .layout-container {
    margin: 0 auto;
  }
  .layout-container-inner {
    display: block;
  }
  .sheet {
    flex-basis: 100% !important;
    max-width: 100% !important;
    box-shadow: none;
    padding: 0;
  }
  .not_print_area {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    .qrcode {
      display: block;
      flex: 0 0 20mm;
      height: 20mm;
      margin-right: 5mm;
    }
    .banner {
      flex-direction: row;
      align-items: center;
      flex: 1 1 auto;
    }
    .logo {
      width: 30mm;
    }
    .title {
      font-size: $font-size-h2;
    }
  }
  .legend {
    position: absolute;
    right: 0 !important;
    bottom: 20px;
    z-index: z(legend);
    width: 150px !important;
  }
  .legend-inner {
    background-color: rgba(255,255,255,.7);
    padding: 0;
  }
}
