:root {
  height: 100%;
  background-color: $root-background-color;
  box-sizing: $root-box-sizing;
  color: $root-color;
  font: #{$root-font-size}/#{$root-line-height} $root-font-family;
  @include bp(xs) {
    font-size: calc(.875rem + ((1vw - 0.355rem) * 0.3165));
  }
  @include bp(lg) {
    font-size: 1rem;
  }
}

*,
::before,
::after {
  box-sizing: $root-box-sizing;
}

body {
  position: relative;
  font-size: $font-size-base;
}

main {
  flex: 1 1 auto;
}

h1 {
  font-size: $font-size-h1;
}
h2 {
  font-size: $font-size-h2;
}
h3 { font-size: $font-size-h3; }
h4,h5 { font-size: $font-size-base; }

img {
  max-width:100%;
  height:auto;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
}

ol {
  list-style-position: inside;
}

table {
  width: 100%;
  border-collapse: collapse;
}

article {
  margin: 1.5em 0;
}

button, input, optgroup, select, textarea {
  font-family: $font-family-sans-serif;
}
