#header {
  .qrcode {
    display: none;
  }
  .banner {
    display: flex;
    flex-direction: column;
    @include bp(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: end;
    }
  }
  .logo {
    width: 13em;
    @include bp(sm) {
      flex: 0 0 25%;
    }
  }
  .datetime {
    font-size: $font-size-sm;
    text-align: right;
    @include bp(sm) {
      order: -1;
      flex: 1 0 100%;
    }
  }
  .title {
    font-size: $font-size-lg;
    @include bp(sm) {
      flex: 0 0 75%;
    }
  }
}
