@page {
  size: A4;
  margin: 15mm 0;
}

@media print {
  .layout-container-inner {
    display: block;
  }
  .sheet {
    flex-basis: 100% !important;
    max-width: 100% !important;
    box-shadow: none;
  }
  .not_print_area {
    display: none;
  }
}
