//@page {
//  size: A4;
//  margin: 10mm;
//}

@page {
  size: A4;
  margin: 15mm 0;
}

@media print {
  .inner-layout-container {
    display: block;
  }
  .sheet {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .not_print_area {
    display: none;
  }
}
