body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", “Yu Gothic”, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Arial, "メイリオ", Meiryo, sans-serif;
  // padding: 1vh 1rem;
  -webkit-print-color-adjust: exact;
  line-height: 1.5em;
}

.sheet {
  float: left;
  @media print {
    width:210mm !important;
    min-height:297mm !important;
  }
  @media screen and (min-width:0px) {
  }
  @media screen and (min-width:450px) {
    width:210mm !important;
    min-height:297mm !important;
  } 
}

#explain {
  button {
    font-size: 16px;
    font-weight: bold;
    padding: 0.25em;
    margin-bottom: 1em;
  }
  h2 {
    font-size: 18px;
  }
  min-height: 100%;
  position: absolute;
  text-align: left;
  width: 240px;
  z-index: 500;
  right: 80px;
  margin: 3mm;
}

#header {
  font-size: 3.5mm;
  text-align: right;
  width: 100% !important;
  @media screen {
    height: 24px;
  }
  @media print {
    max-height: 24px;
  }
  #logo {
    @media print {
      display: none;
    }
    @media screen {
      float:left;
      width:200px;
    }
  }
  #datetime_block {
    float:right;
  }
  #qrcodecontainer {
    float: left;
    margin-left: 200px;
    display: inline-block;
    transform-origin: 0 0;
    transform: scale(0.35);
    position: absolute;
    left: 1rem;
  }
}

#content {
  position: relative;
  max-width: 1200px;
  a {
    color: rgba(#000, 0.7);

    &:focus,
    &:hover {
      color: rgba(#000, 0.6);
    }
  }

  #page {
    h1 {
      font-size: 7mm;
      margin: 0 auto 0.25em;
      float: left;
    }
    #date {
      font-size: 4mm;
      font-weight: bold;
      padding: 0.25em 0;
    }
    #map {
      width: 100%;
      height: 140mm;
      border: 1px solid #000000;
			.legend {
        position: absolute;
        right: 0;
        bottom: 20px;
        z-index: 999;
				line-height: 18px;
				color: #555;
        background-color: #fff;
        width: 100px;
        opacity: 0.7;
        .legend-type {
          margin: 2px;
          i {
            width: 18px;
            height: 18px;
            float: left;
            opacity: 0.7;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            line-height: 18px;
          }
        }
      }
      .marker {
        width:0;
        height:0;
      }
      .marker span.mark {
        display:flex;
        justify-content:center;
        align-items:center;
        box-sizing:border-box;
        width: 30px;
        height: 30px;
        color:#fff;
        background: #693;
        border:solid 2px;
        border-radius: 0 70% 70%;
        box-shadow:0 0 2px #000;
        cursor: pointer;
        transform-origin:0 0;
        transform: rotateZ(-135deg);
        span.icon {
          width:22px;
          height: 22px;
          border-radius: 50%;
          position: absolute;
          transform: rotateZ(135deg);
          right: 3px;
          top: 21px;
          background-color: #777;
          text-align: center;
          border: 2px solid #fff;
          i {
            color:#fff;
            font-size: 15px;  // font-awesom用
            line-height: 22px;   // font-awesom用
            vertical-align: middle; // font-awesom用
          }
        }
        b {transform: rotateZ(135deg)}
      }

      .mapboxgl-popup {
        max-width: 200px;
        .legend-type {
          margin: 2px;
          i {
            width: 18px;
            height: 18px;
            float: left;
            opacity: 0.7;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            line-height: 18px;
          }
        }
      }
    }
    #list {
      text-align: left;
      width: 100%;
      table {
        width: 100%;
        th.category_separator {
          position: relative;
          height: 12px;
          vertical-align: bottom;
          padding-left: 32px;
        }
        tr {
          page-break-inside: avoid;
        }
        .category_spacer {
          border: none;
          padding: 2px;
        }
        .category_separator {
          border: 1px solid #000000;
          color: white;
          font-weight: bolder;
        }
        td {
          border-collapse: collapse;
          border-spacing: 0;
          border:1px solid #333;
          padding: 2px;
          &.id {
            width: 5%;
            text-align: center;
            font-weight: bold;
            font-style: italic;
          }
          &.value {
            width: 45%;
            border-top: none;
            border-left: none;
            border-right: none;
          }
        }
      }
    }
  }
}

#footer {
  font-size: 4mm;
  padding: 1em 0;
  text-align: left;
}

@media print {
  body {
    width: 190mm;
    color: #000;
  }
  // 印刷時のみ表示
  .print_area {
      display: block;
  }
  // 印刷したくない領域
  .not_print_area {
      display: none !important;
  }
  // Firefoxだとiconが表示されない
  // .awesome-number-marker {
  //   border: 1px solid #333;
  // }
  // .awesome-number-marker:after {
  //   content:'';
  //   position: absolute;
  //   top: 100%;
  //   left: 0;
  //   right: 0;
  //   margin: 0 auto;
  //   width: 0;
  //   height: 0;
  //   border-top: solid 1.5mm #333;
  //   border-left: solid 1.5mm transparent;
  //   border-right: solid 1.5mm transparent;
  // }

  .sheet {
    font-size: 18px;
  }
}

@media screen {
  body {
    background-color: #eee;
    color: #000;
    h1 {
      line-height: 40px;
    }
    #header {
      #qrcodecontainer {
        left: 4rem;
      }
    }
  }
  .sheet {
    background-color: #fff;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    padding: 10mm;
    margin: 3mm;
  }
  .print_area {
    display: none;
  }
}

@media (max-width: 1248px) {
  #explain {
    width:210mm;
    position: static;
  }
}


@page {
  size: A4;
  margin: 10mm;
}
