body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  padding: 1vh 1rem;
  text-align: center;
  -webkit-print-color-adjust: exact;
}
#header {
  text-align: right;
  width: 210mm !important;
}

#content {
  position: relative;
  max-width: 1200px;
  a {
    color: rgba(#000, 0.7);

    &:focus,
    &:hover {
      color: rgba(#000, 0.6);
    }
  }

  #explain {
    text-align: left;
    button {
      text-align: right;
    }
    top: 100px;
    min-height: 100%;
    position: absolute;
    width: 240px;
    z-index: 500;
    right: 80px;
    background-color: rgba(255,255,255,0.7)
  }
  #page {
    float: left;
    width:210mm !important;
    height:297mm !important;
    h1 {
      font-size: 7mm;
      margin: 0 auto 0.25em;
    }
    #date {
      font-size: 4mm;
      font-weight: bold;
      padding: 0.25em 0;
    }
    #footer {
      font-size: 4mm;
      padding: 1em 0;
      text-align: left;
    }
    #map {
      width: 100%;
      height: 600px;
			.legend {
				line-height: 18px;
				color: #555;
        background-color: #fff;
        width: 100px;
        opacity: 0.7;
        .legend-type {
          margin: 2px;
          i {
            width: 18px;
            height: 18px;
            float: left;
            opacity: 0.7;
          }
        }
			}
    }
    #list {
      text-align: left;
      width: 100%;
      table {
        width: 100%;
        th.category_separator {
          position: relative;
          height: 12px;
          vertical-align: bottom;
          padding-left: 32px;
        }
        td {
          border-collapse: collapse;
          border-spacing: 0;
          border:1px solid #333;
          padding: 2px;
          &.id {
            width: 5%;
            text-align: center;
            font-weight: bold;
          }
          &.value {
            width: 45%;
          }
        }
      }
    }
  }
}

@media print {
  body {
    width: 190mm;
  }
  // 印刷時のみ表示
  .print_area {
      display: block;
  }
  // 印刷したくない領域
  .not_print_area {
      display: none;
  }
}

@media screen {
  .print_area {
    display: none;
  }
}

@page {
  size: A4;
  margin: 10mm;
}
