version: 2.1 #updated to CircleCI 2.1
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:12.9.1

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mongo:3.4.4

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: install dependencies
          command: |
            git clone https://github.com/mapbox/tippecanoe.git
            cd tippecanoe
            make -j
            sudo make install
            cd ..
            rm -rf tippecanoe
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v2-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v2-dependencies-

      - run: npm install

      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "package.json" }}

      - run: npm run generate
      - run: npm run createtiles
      - add_ssh_keys:
          fingerprints:
            - "f5:a8:42:06:11:1f:b2:89:f6:22:89:da:64:7b:61:23"
      - deploy:
          command: |
            if [ "${CIRCLE_BRANCH}" == "master" ]; then
                git config --global user.email info@code4japan.org
                git config --global user.name circleci
                git clone -b gh-pages git@github.com:codeforjapan/mapprint.git
                rm -rf mapprint/*
                cp -rf dist/* mapprint
                cd mapprint; git add .; git commit -m "From `git log --oneline origin/master -n 1`"; git push
            fi
workflows:
  version: 2
  build:
    jobs:
      - build
         filters:
           branches:
             only: master
