---
<<<<<<< HEAD
title: 印刷マップ：必要な情報を１ページに
=======
title: 印刷できる台風災害支援情報マップ（千葉県）
>>>>>>> master
---
- content_for(:header) do
  = stylesheet_link_tag "index"
%section.sheet
  #header
    %img{:src=>"images/logo.jpg", :id=>"logo"}
  #content
    %p 印刷マップ：必要な情報を１ページにまとめて表示できます。
    #page
      #maplist



