---
title: 沖縄キャンプマップ
---
- content_for(:header) do
  = stylesheet_link_tag "index"
%section.sheet
  #header
    %img{:src=>"images/logo.jpg", :id=>"logo"}
  #content
    %h2 Printable customized map + lists for people who wants to know about where you are.
    #page
    %a Create new map
    %h2 Maps people created
    #map

