---
title: 千葉県サポート情報
---
- content_for(:header) do
  = stylesheet_link_tag "index"
%section.sheet
  #header
    %img{:src=>"images/logo.jpg", :id=>"logo"}
  #content
    %p Printable customized map + lists for people who wants to know about where you are.
    #page
      %a{:href=>"map.html"} 地図はこちら


