---
title: 沖縄キャンプマップ
---
- content_for(:header) do
  = stylesheet_link_tag "index"
%section.sheet
  #header
    %img{:src=>"images/logo.jpg", :id=>"logo"}
  #content
    %p Printable customized map + lists for people who wants to know about where you are.
    #page
    %a Create new map
    %h2 Maps people created
    %h3
      %a{:href=>"map.html#27.274339918107938,126.79892867803575-25.97304154404734,128.97971481084826"} 沖縄キャンプマップ（沖縄）
    #map
    %h3 給水所/お風呂/洗濯（ランドリー）マップ（広島）
    %img{:src=>"images/sample.png", :width=>"1200px;"}

