---
title: 沖縄キャンプマップ
---
#explain.not_print_area
    %button#print 印刷する（A4タテ）
    %br
    %div.map_controls
        %b 地図選択
        %br
        %input{:type => "radio", :name => "mapStyle", :id => "color", :value => "color", :checked => true}
        %label{:for => "color"} カラー
        %input{:type => "radio", :name => "mapStyle", :id => "mono", :value => "mono"}
        %label{:for => "mono"} 白黒
    %br
    %button#close 閉じる
    .explain-container
        %h2 このサイトについて
        %p
            誰でも印刷用の地図が作れるサイトです。
        %p
            このサイトのソースコードはオープンに公開しております。開発にご協力いただける方は、
            %a{:href=>"https://github.com/codeforjapan/mapprint"} Code for Japan の Github リポジトリ
            から、開発にご参加ください。JavaScript や Leaflet などの経験がある方、大歓迎です。
%section.sheet
    #header
        #qrcodecontainer
        データ最終更新日：
        %span#datetime
    #content
        #page
            %h1 沖縄キャンプマップ
            #date.print_area
            #map
            #list
    #footer.print_area
