@use "mixin";

.layout-container {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
}

.layout-index {
  background-image: url("@/assets/images/index_body_bg.png");
  background-size: 500px 500px;
  min-height: 100vh;
  padding: 2em;
  @include mixin.bp(md) {
    padding-left: 5em;
    padding-right: 5em;
  }
}
