name: generate pages

on:
  pull_request_target:

jobs:
  generate-pages:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: setup node
      uses: actions/setup-node@v4
      with:
        node-version: '20.10.0'

    - name: Cache dependencies
      uses: actions/cache@v1
      with:
        path: ~/.yarn
        key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: install
      run: yarn install

    - name: generate
      run: yarn run generate --fail-on-error
