name: github pages

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build-deploy:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: setup node
      uses: actions/setup-node@v4
      with:
        node-version: '20.10.0'

    - name: Cache dependencies
      uses: actions/cache@v1
      with:
        path: ~/.yarn
        key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-node-

    - name: install
      run: yarn install

    - name: generate
      run: yarn run generate --fail-on-error

    - name: deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist
